<svg viewBox="0 0 {{ width }} {{ height }}" xmlns="http://www.w3.org/2000/svg">
  <rect x="0" y="0" width="{{ width }}" height="{{ height }}" rx="{{ border_radius }}" ry="{{ border_radius }}" style="fill:{{ background_color }}" />
  <text alignment-baseline="middle" x="{{ padding_left }}" y="50%" font-family="Arial" font-size="{{ font_size }}" style="fill:{{ foreground_color }}">{{ text }}</text>
</svg>
